.morecontent{
    margin:10vh;
    margin-left:5vw;
    z-index:10;
    width:90vw;
    display:grid;
    height:90vh;
}

.morecontent h1{
    font-size:2.2rem;
    font-weight:700;
    letter-spacing: 2px;
    line-height: 3.5rem;
    width:50vw;
}

.morecontent p{
    width:50vw;
}

.morebutton{
    border:none;
    background-color:white;
    margin-top:2rem;
    color:#5B43EF;
    padding:10px 20px;
    margin-right:10vw;
    width:15vw;
    border-radius:5px;
    font-size:1.3rem;
    position:relative;
    text-decoration: none;
  }

.morebutton3{
    border: 2px solid #5B43EF;
}

.moreimg{
    grid-column:2;
    width:40vw;
    margin:auto;
}

@media screen and (max-width: 750px){
    .morecontent{
        display:block;
    }
.morecontent h1{
    margin-top:2rem;
    font-size:1.5rem;
    font-weight:700;
    letter-spacing: 1px;
    line-height: 2.5rem;
    width:90vw;
}

.morecontent p{
    width:90vw;
    font-size:1rem;
}

.morebutton{
    margin-top:1rem;
    width:40vw;
    border-radius:5px;
    font-size:1.3rem;
    position:relative;
    margin-left:25vw;
}
  .moreimg{
    width:90vw;
    margin:auto;
    margin-top:2rem;
    margin-bottom:4rem;
}
}