h2{
    font-size:1.8rem;
}

.features{
    display:grid;
    grid-template-columns: 1fr;
    width:100vw;
    padding:5vh 5vw;
    background-color:#F1EFFE;
  }
  
  .features h1{
    grid-column:1;
    grid-row-start: 1;
    grid-row-end:2;
    text-align:left;
    max-width:25vw;
    padding:0 2vw;
  }

  .features hr{
    width:100px;
    height:5px;
    background-color:#5B43EF;
    border:10px 10px #5B43EF;
    box-shadow:none;
}
  
  .features .feature1{
    grid-column:2;
    display:block;
    grid-row-start: 1;
    grid-row-end:2;
    max-width:25vw;
    padding:0 2vw;
    margin:auto;
  }
  
  .features .feature2{
    grid-column:3;
    display:block;
    grid-row-start: 1;
    grid-row-end:2;
    max-width:25vw;
    padding:0 2vw;
    margin:auto;
  }
  
  .features .feature3{
    grid-column:4;
    display:block;
    grid-row-start: 1;
    grid-row-end:2;
    max-width:25vw;
    padding:0 2vw;
    margin:auto;
}
  
  .features .feature1 .text{
    grid-column:2;
    width:20vw;
  }
  
  .features .feature2 .text{
    grid-column:2;
    width:20vw;  
  }
  
  .features .feature3 .text{
    grid-column:2;
    width:20vw;
  }
  
  .features .feature1 .img{
    margin:auto;
    width:80px;
  }
  
  .features .feature2 .img{
    margin:auto;
    width:80px;
  }
  
  .features .feature3 .img{
    width:80px;
    margin:auto;
  }
  
  @media screen and (max-width: 750px){
    .features{
      display:block;
      width:100vw;
      margin:0;
      padding: 5vh 5vw;
      padding-top:0vh;
    }
    .features h1{
      text-align:center;
      max-width:80vw;
      padding:0 2vw;
      font-size:2rem;
      margin:auto;
      margin-top:10rem;
      margin-bottom:1rem;
    }
    
  .features hr{
   margin-bottom:4rem;
}
    .features .feature1, .features .feature2, .features .feature3{
      display:block;
      width:100vw;
      margin:0;
    }
  
    .features .feature1 .text, .features .feature2 .text, .features .feature3 .text{
      width:80vw;
      text-align:center;
    }
  
    .features .feature1 .img, .features .feature2 .img, .features .feature3 .img{
      margin:0 35vw;
      width:20vw;
    }
  }
  