.title_list{
    margin:0vh;
    color:white;
    text-align: left;
    text-decoration: none;
}

.main_heading{
    color: white;
    font-size:1.6rem;
    margin: 5vh 0;
}

.main_title{
    color: white;
    font-size:1.3rem;
    margin: 3vh 0;
}

.back{
    position:absolute;
    top:3vh;
    text-align: center;
    border:0;
}

.post_image{
    width:84vw;
}

.post_date{
    font-size:0.9rem;
}

.post_body{
    font-size:0.8rem;
}