.projects_container{
    margin-top:-100vh;
    margin-left:200vw;
    width:100vw;
    overflow-y:scroll;
}

.projects_container .projects_all_content{
    width:75vw;
    margin:0;
    margin-top:10vh;
    margin-left:22vw;
    font-family: "Playfair Display",serif;
}

.projects_heading{
    font-family: "Playfair Display",serif;
    font-size: 3vmin;
}

.projects_title1{
    font-family: 'Rozha One', serif;
    font-size:12vmin;
    margin:0;
}

.projects_title2{
    font-family: 'Rozha One', serif;
    font-size:12vmin;
    margin:0;
    margin-top:8vh;
}

.projects_content{
    width:50vw;
    font-size: 3.3vmin;
    padding-left:6vw;
    margin-top:5vh;
    border-left: 2px solid white;
}

/* THE CONTACT LINKS AND NAVIGATION TO GO BACK UP */

.projects_contact_links{
    position:absolute;
    left:295vw;
    top:8vh;
    margin-top:10vh;
}

.scrollup_projects{
    position:absolute;
    left:295vw;
    top:8vh;
    z-index:90;
}

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}

.iframe-container {
    content: "";
    display: table;
    clear: both;
  }
  
  .iframe-item {
    width: 19%;
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px; 
  }

  .iframe-projects-item {
    aspect-ratio: 16/10;
    width: 38%;
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px; 
  }

  .iframe-item:nth-child(4n) {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .iframe-item {
      width: 50%;
      margin-right: 0;
    }
  }