/* THE CONTAINER FOR ALL THE SLIDES/PAGES */

.home_slides{
    position:absolute;
    left:0;
    top:0;
}

.home_slides .main_home_container{
    z-index:0;
    width:100vw;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
}

.home_slides .main_blog_container{
    z-index:0;
    position:absolute;
    left:100vw;
    top:0;
    width:100vw;
    height:100vh;
}

.home_slides .main_projects_container{
    z-index:0;
    width:100vw;
    height:100vh;
    position:absolute;
    left:200vw;
    top:0;
}

.home_slides .main_art_container{
    z-index:0;
    position:absolute;
    left:300vw;
    top:0;
    width:100vw;
    height:100vh;
}

/* --------------------------- */
/* STRIPE DESIGN FOR ALL PAGES */

.stripe_design{
    margin:0;
    position:absolute;
}

.stripes_slide_00{
    margin-left:0vw;
    margin-top:100vh;
}

.stripes_slide_02{
    margin-left:100vw;
    margin-top:0vh;
}

.stripes_slide_02a{
    margin-left:100vw;
    margin-top:100vh;
}

.stripes_slide_03{
    margin-left:200vw;
    margin-top:0vh;
}

.stripes_slide_03a{
    margin-left:200vw;
    margin-top:100vh;
}

.stripes_slide_04{
    margin-left:300vw;
    margin-top:0vh;
}

.stripes_box1{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin:0;
    z-index:80;
    background-image: url('../../media/stripes2.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.border_only_box1{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin-left:5vmin;
    margin-top:5vmin;
    z-index:70;
    border:2px solid rgb(255, 255, 255, 0.5);
}
.stripes_box2{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin-left:calc(100vw - 25vmin);
    margin-top:calc(100vh - 25vmin);
    z-index:80;
    background-image: url('../../media/stripes2.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.border_only_box2{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin-left:calc(100vw - 30vmin);
    margin-top:calc(100vh - 30vmin);
    z-index:70;
    border:2px solid rgb(255, 255, 255, 0.5);
}

/* ---------------------------------------------------- */
/* THE PAGE NUMBER AND IMAGE FOR EACH OF THE MAIN PAGES */

.page_number{
    position:absolute;
    top:65vh;
    right:32vw;
    width:60vw;
    z-index:30;
    font-size: 25vmin;
}

.cygirl_picture{
    position:absolute;
    top:30vh;
    left:20vw;
    height:65vh;
    width:30vw;
    z-index:20;
    background-image: url('../../img/cygirl2.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    opacity:1;
}

.dancergirl_picture{
    position:absolute;
    top:20vh;
    left:18vw;
    height:80vh;
    width:50vw;
    z-index:20;
    background-image: url('../../img/dancergirl.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    opacity:0.5;
}

.buildingart_picture{
    position:absolute;
    top:18vh;
    left:15vw;
    height:80vh;
    width:70vw;
    z-index:20;
    background-image: url('../../img/buildingart.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    opacity:0.7;
}

.songcircle_picture{
    position:absolute;
    top:27.5vh;
    left:18vw;
    height:65vh;
    width:50vw;
    z-index:20;
    background-image: url('../../img/song_circle.png');
    background-repeat: no-repeat;
    background-size:contain;
    opacity:0.5;
}

/* -------------------------------------------------------------------------- */
/* TOP NAVBAR CONSISTING OF BLOG, PROJECTS AND ART ALONG WITH THEIR SUMMARIES */

.summary_box{
    width:75vw;
    height:25vh;
    position:absolute;
    margin-left:26vw;
    margin-top:10vh;
    z-index:80;
    text-decoration: none !important;
}

.slide2{
    margin-left:126vw;
}

.slide3{
    margin-left:226vw;
}

.slide4{
    margin-left:326vw;
}

.summary_sub_box_white{
    width:16vw;
    float:left;
    margin-left:7vw;
}

.summary_heading_white{
    color:white;
    font-size:2vmin;
}

.summary_description_white{
    color:white;
    font-size:1.8vmin;
}

.line_draw {
    width:16vw;
    height:2px;
    float:left;
    background: linear-gradient(to right, white 10%, rgb(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 1s ease;
}

.line_draw:hover {
    background-position:left bottom;
}

/* ----------------------------------------- */
/* EXTRA CLASSES FOR BACK TO HOME NAVIGATION */

.backtohometext{
    position:absolute;
    top:20vh;
    z-index:90;
    left:-33vw;
    padding-left:5vmin;
    padding-top:1vmin;
}

.backtohometext2{
    position:absolute;
    top:1vh;
    left:28.5vmin;
    float:left;
    color:white;
    font-size:1.8vmin;
}

/* ------------------------------------------------ */
/* THE BOTTOM NAVIGATION LINKS FOR ALL SLIDES/PAGES */

.intro_box{
    width:25vw;
    height:25vh;
    position:absolute;
    margin-left:56vw;
    margin-top:72vh;
    z-index: 80;
    text-decoration: none;
}

.intro_box1{
    width:25vw;
    height:25vh;
    position:absolute;
    margin-left:56vw;
    margin-top:67vh;
    z-index: 80;
    text-decoration: none;
}

.intro_box2{
    width:25vw;
    height:25vh;
    position:absolute;
    margin-left:56vw;
    margin-top:78vh;
    z-index: 80;
    text-decoration: none;
}

.summary_intro_box_white{
    width:16vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.summary_intro_box_white .summary_heading_white{
    color:white;
    font-size:2vmin;
}

.summary_intro_box_white .summary_description_white{
    color:white;
    font-size:1.8vmin;
}

.summary_heading_white_bottom{
    color:white;
    font-size:4vmin;
    font-family: 'Rosarivo', serif;
    font-style: italic;
    margin-bottom: 1vmin;
}

.summary_description_white_bottom{
    color:white;
    font-size:2vmin;
    float:right;
    margin-top:-4.5vmin;
    margin-bottom:0;
}

/* THE MAIN TEXT FOR THE MAIN SLIDES */

.hey_text_div{
    margin-top:34vh;
    padding-left:56vw;
    width:45vw;
    height:33vh;
    position:sticky;
    z-index:30;
}

.hey_text{
    font-size: 9vmin;
    line-height:15vmin;
}

.hey_text_tad_smaller{
    font-size: 8vmin;
    line-height:14vmin;
}