/*
THE CONTAINER FOR ALL THE SLIDES/PAGES EXCEPT THE NAVBAR COMPONENTS ON THE
LEFT AND TOP WHICH ARE DEFINED BELOW.
*/

.home_slides{
    /* display:flex;
    flex-direction: row; */
    position:absolute;
    left:0;
    top:0;
}

/* Stripes */

.stripe_design{
    margin:0;
}

.stripes_slide_02{
    margin-left:100vw;
    margin-top:0vh;
}

.stripes_slide_03{
    margin-left:200vw;
    margin-top:0vh;
}

.stripes_slide_04{
    margin-left:300vw;
    margin-top:0vh;
}

.back_to_home{
    position:absolute;
    margin-left:15vmin;
    width:25vmin;
    margin-top:11vmin;
    font-size:2vmin;
    transform: rotate(270deg);
    z-index:100;
}

.stripes_box1{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin:0;
    z-index:80;
    background-image: url('../../media/stripes.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.border_only_box1{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin-left:5vmin;
    margin-top:5vmin;
    z-index:70;
    border:2px solid rgb(255, 255, 255, 0.5);
}
.stripes_box2{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin-left:calc(100vw - 25vmin);
    margin-top:calc(100vh - 25vmin);
    z-index:80;
    background-image: url('../../media/stripes.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.border_only_box2{
    width:25vmin;
    height:25vmin;
    position:absolute;
    margin-left:calc(100vw - 30vmin);
    margin-top:calc(100vh - 30vmin);
    z-index:70;
    border:2px solid rgb(255, 255, 255, 0.5);
}

/*
***************************************************************************
*/

.page_number{
    position:absolute;
    top:65vh;
    right:32vw;
    width:60vw;
    z-index:30;
    font-size: 25vmin;
}

.hi_picture{
    position:absolute;
    top:30vh;
    left:20vw;
    height:65vh;
    width:30vw;
    z-index:20;
    background-image: url('../../img/cygirl.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    /* background-position: right center; */
}

/*
TOP NAVBAR CONSISTING OF BLOG, PROJECTS AND ART ALONG WITH THEIR SUMMARIES.
TO ADD IT FOR NEW PAGE SLIDES, JUST CREATE ANOTHER .slide(n) AND PROVIDE
THE APPROPRIATE OFFSET.
*/

.summary_box{
    width:75vw;
    height:25vh;
    position:absolute;
    margin-left:26vw;
    margin-top:10vh;
    z-index:80;
}

.slide2{
    margin-left:126vw;
}

.summary_box .summary_sub_box_white{
    width:16vw;
    float:left;
    margin-left:7vw;
}

.summary_box .summary_sub_box_black{
    width:16vw;
    float:left;
    margin-left:7vw;
}

.summary_box .summary_sub_box_white .summary_heading_white{
    color:white;
    font-size:2vmin;
}

.summary_box .summary_sub_box_white .summary_description_white{
    color:white;
    font-size:1.8vmin;
}

/*
***************************************************************************
*/

/*
LEFT-SIDE NAVBAR CONSISTING OF HOME, MENU AND CONTACT ICONS.
*/

.navbar {
    position:fixed;
    z-index:80;
    width:5vw;
    height:100vh;
    background-color:black;
}

.infinity_logo{
    color: white;
    cursor: pointer;
    margin-top:9vh;
    margin-left: 1vw;
}

.menu_logo{
    color: white;
    cursor: pointer;
    margin-top:32vh;
    margin-left: 1.2vw;
    transform: rotate(270deg);
}

.contact_logo{
    color: white;
    cursor: pointer;
    margin-top:32vh;
    margin-left: 1.2vw;
}

.NavbarListStyles {
    color:#878787;
    list-style:none;
    width:100vw;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size:4rem;
    display:inline-block;
    text-align:center;
    font-family: soleil,Helvetica,Arial,sans-serif;
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top:-50px;
}

.NavbarListStyles li {
    display:inline;
}
  
/*
***************************************************************************
*/

.home_slides .main_home_container{
    z-index:0;
    width:100vw;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
}

.home_slides .main_blog_container{
    z-index:0;
    position:absolute;
    left:100vw;
    top:0;
    width:100vw;
    height:100vh;
}

/*
THE BOTTOM NAVIGATION LINKS FOR ALL SLIDES/PAGES (HOME, BLOG, PROJECTS, ART)
*/

.intro_box{
    width:25vw;
    height:25vh;
    position:absolute;
    margin-left:56vw;
    margin-top:72vh;
    z-index: 80;
}

.summary_intro_box_white{
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    width:16vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.summary_intro_box_white .summary_heading_white{
    color:white;
    font-size:2vmin;
}

.summary_intro_box_white .summary_description_white{
    color:white;
    font-size:1.8vmin;
}

.blog_box{
    margin-left:156vw;
}

.home_slides .main_blog_container .blog_box1{
    width:16vw;
    height:25vh;
    position:absolute;
    margin-left:55vw;
    margin-top:72vh;
    z-index: 80;
}

.home_slides .main_blog_container .blog_box2{
    width:16vw;
    height:25vh;
    position:absolute;
    margin-left:32vw;
    margin-top:72vh;
    z-index: 80;
}

.home_slides .main_blog_container .blog_box3{
    width:16vw;
    height:25vh;
    position:absolute;
    margin-left:9vw;
    margin-top:72vh;
    z-index: 80;
}

.home_slides .main_blog_container .blog_box1 .summary_intro_box_white{
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    width:16vw;
    background-color: rgba(255, 255, 255, 0.6);
}

.home_slides .main_blog_container .blog_box2 .summary_intro_box_white, .blog_box3 .summary_intro_box_white{
    border-bottom: 2px solid rgb(255, 255, 255);
    width:16vw;
}

.home_slides .main_blog_container .blog_box1 .summary_intro_box_white .summary_heading_white{
    color:black;
    font-size:1vw;
}

.home_slides .main_blog_container .blog_box2 .summary_intro_box_white .summary_heading_white, .blog_box3 .summary_intro_box_white .summary_heading_white{
    color:white;
    font-size:1vw;
}

.home_slides .main_blog_container .blog_box1 .summary_intro_box_white .summary_description_white{
    color:black;
    font-size:0.9vw;
}

.home_slides .main_blog_container .blog_box2 .summary_intro_box_white .summary_description_white, .blog_box3 .summary_intro_box_white .summary_description_white{
    color:white;
    font-size:0.9vw;
}