.main_quote{
    color: white;
    font-size:1.6rem;
    margin-bottom:7vh;
}

.blog_button{
    margin-top:7vh;
    margin-left:10vw;
    width:84vw;
    border:none;
}

.blog_text_red{
    text-align:right;
    color:white;
    margin-top:0vh;
    padding: 0;
    width:84vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 30px;
}

.blog_text_white{
    margin-top:0vh;
}

.home_button_text{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 25px;
}
.link_text{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 25px;
}

.blog_text_white{
    font-weight: 900;
    margin: 2vh 0 4vh 0;
}

/*Common CSS*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.section_name{
    color: white;
    font-size:1.6rem;
    margin: 7vh 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 25px;
}

.blog_post a{
    text-decoration: none;
}

.post_title{
    color: white;
    font-size:1.2rem;
    margin-bottom:0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    line-height: 25px;
}

.individual_post_title{
    font-size:1.5rem;
    margin: 2vh 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    line-height: 25px;
}

.post_hr{
    width:20vw;
    margin-left:0;
    border-bottom: 2px solid white;
}

.individual_post_hr{
    width:20vw;
    margin-left:0;
    margin-bottom:5vh;
    border-bottom: 2px solid white;
}

.post_year{
    margin:0;
    margin-top:1vh;
    color:white;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    line-height: 25px;
}

.post_desc{
    margin-top:1vh;
    margin-bottom:0;
    color:white;
    font-size:0.8rem;
}

.post_read_more{
    color:white;
    margin-top:1vh;
    font-size:0.8rem;
    font-weight: 600;
}

.post_date{
    font-size:1rem;
}

.post_body{
    font-size:1rem;
}

.back{
    visibility:hidden;
    position:absolute;
    top:2vh;
    text-align: center;
    border:0;
}

.back_to_list{
    color:white;
    margin-top:3vh;
    margin-bottom: 0;
    padding: 0;
    width:84vw;
    border-top: 2px solid white;
    padding: 10px 0 10px 0;
}

@media screen and (min-width: 750px){
    .main_quote{
        font-size:14rem;
        margin-bottom:7vh;
    }
    .blog_text_red{
        margin-bottom:13vh;
        padding: 0;
        width:84vw;
        font-size: 20rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 4px;
        line-height: 30px;
    }
    .blog_button{
        margin-top:7vh;
        margin-left:0vw;
        width:auto;
        margin-bottom: 5rem;
    }
    .home_button_text{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 4px;
        line-height: 25px;
        margin:0;        
        font-size: 15rem;
        padding:0;
    }
    .link_text{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 4px;
        line-height: 25px;
        margin:0;        
        padding:0;
    }
    .blog_text_white{
        font-size: 5rem;
        width:50vw;
    }

/*Common CSS*/

.section_name{
    font-size:20rem;
    margin: 20vh 0 15vh 0;
    letter-spacing: 10px;
}
.post_title{
    font-size:10rem;
    margin-bottom:8rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    margin-top:15rem;
}
.individual_post_title{
    font-size:20rem;
    margin: 8vh 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.post_hr{
    width:30vw;
    border-bottom: 5px solid white;
}
.individual_post_hr{
    width:84vw;
    margin-bottom:8vh;
    border-bottom: 10px solid white;
}
.post_year{
    margin-top:3vh;
    font-size: 5rem;
    letter-spacing: 4px;
}
.post_desc{
    margin-top:2vh;
    margin-bottom:0;
    font-size:5rem;
    width:50vw;
}
.post_read_more{
    margin-top:1vh;
    font-size:5rem;
}
.post_date{
    font-size:5rem;
}
.post_body{
    font-size:5rem;
}
.back_to_list{
    margin-top:10vh;
    font-size: 5rem;
    border-top: 10px solid white;
    padding: 5rem 0;
    text-align: center;
}
}