.main_quote{
    color: white;
    font-size:1.6rem;
}


.blog_button{
    margin-top:2vh;
    margin-left:10vw;
    width:84vw;
    border:none;
}

.blog_text_red{
    text-align:right;
    color:white;
    margin-top:0vh;
    padding: 0;
    width:84vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 30px;
    /* border-bottom: 2px solid white;
    padding: 10px 0 10px 0; */
}

.blog_text_white{
    margin-top:0vh;
}

.home_button_text{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 25px;
}

.blog_text_white{
    font-weight: 900;
    margin: 2vh 0 4vh 0;
}

/*Common CSS*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.section_name{
    color: white;
    font-size:1.6rem;
    margin: 7vh 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 25px;
}

.blog_post a{
    text-decoration: none;
}

.post_title{
    color: white;
    font-size:1.2rem;
    margin-bottom:0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    line-height: 25px;
}

.individual_post_title{
    font-size:1.5rem;
    margin: 2vh 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    line-height: 25px;
}

.post_hr{
    width:20vw;
    margin-left:0;
    border-bottom: 2px solid white;
}

.individual_post_hr{
    width:20vw;
    margin-left:0;
    margin-bottom:5vh;
    border-bottom: 2px solid white;
}

.post_year{
    margin:0;
    margin-top:1vh;
    color:white;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    line-height: 25px;
}

.post_desc{
    margin-top:1vh;
    margin-bottom:0;
    color:white;
    font-size:0.8rem;
}

.post_read_more{
    color:white;
    margin-top:1vh;
    font-size:0.8rem;
    font-weight: 600;
}

.post_date{
    font-size:1rem;
}

.post_body{
    font-size:1rem;
}

.back{
    visibility:hidden;
    position:absolute;
    top:2vh;
    text-align: center;
    border:0;
}

.back_to_list{
    color:white;
    margin-top:3vh;
    margin-bottom: 0;
    padding: 0;
    width:84vw;
    border-top: 2px solid white;
    padding: 10px 0 10px 0;
}