.main_quote{
    color: white;
    font-size:1.6rem;
}

.blog_text_big{
    margin-top:5vh;
    color:#8888a2;
    text-align:right;
}

.featured_image{
    width:84vw;
}

.filler_text_blog{
    margin-top:3vh;
    color:white;
    text-align:center;
    margin-bottom:2vh;
}

.blog_text_small{
    margin-top:0vh;
    color:#8888a2;
    text-align: center;
}

.blog_post a{
    text-decoration: none;
}

.blog_button{
    margin-left:10vw;
    width:64vw;
    border:none;
}

.blog_text_red{
    color:white;
    margin-top:0vh;
    padding: 0;
    width:84vw;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0;
}

.filler_text_unlinked{
    margin-top:5vh;
    color:white;
}

.blog_text_white{
    color:white;
    margin-top:0vh;
    padding: 0;
    width:84vw;
    text-decoration: none !important;
}