@media screen and (max-width: 1440px){

    /* THE MAIN TEXT FOR THE MAIN SLIDES */

    .hey_text_div_mobile{
        margin-top:25vh;
        width:100vw;
        height:33vh;
        position:sticky;
        z-index:30;
        text-align: center;
    }

    .hey_text_mobile{
        font-size: 10vmin;
        line-height:15vmin;
        margin-bottom: 5vmin;
        font-family: 'Rozha One', serif;
    }

    .hey_desc_mobile{
        font-size: 4vmin;
        margin-bottom: 5vmin;
        font-family: "Playfair Display",serif;
    }

    .semibold{
        font-weight: 600;
        z-index:5;
    }

    .about_button_mobile2{
        font-size:5vmin;
        font-family: "Playfair Display",serif;
        padding:1vmin 2vw;
        margin-top:5vh;
        width:40vw;
        margin-left:28vw;
        text-align:center;
        border: 1px solid white;
        color:white;
        text-decoration: none !important;
    }

    .songcircle_picture_mobile{
        position:absolute;
        top:40vh;
        left:0vw;
        width:100vw;
        height:200vw;
        z-index:0;
        background-image: url('../../img/song_circle.png');
        background-repeat: no-repeat;
        background-size:contain;
        opacity:0.3;
    }

}