

#footer {
    text-align: center;
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:#5B43EF;
    color:white;
    margin:0;
}

#footer h1 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom:0.7rem;
    margin-top:3rem;
    line-height:0;
}

#footer h2 {
    font-size: 0.9rem;
    text-transform: lowercase;
    margin-top:1rem;
    line-height: 0;
}

#footer h3 {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-bottom:0;
    margin-top:2rem;
    line-height: 0;
}

#footer h4 {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-bottom:1rem;
    margin-top:1rem;
    line-height: 0;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li{
	margin: 0;
	padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0);
	padding-top: 12px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
	transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

@media screen and (max-width: 750px){

    #footer {
        text-align: center;
        margin-top:0;
        margin-bottom:0;
    }
    
    #footer h1 {
        font-size: 0.7rem;
        text-transform: uppercase;
        margin-bottom:0;
        margin-top:1rem;
        line-height:0;
    }
    
    #footer h2 {
        font-size: 0.6rem;
        text-transform: lowercase;
        margin-top:0;
        line-height: 0;
    }
    
    #footer h3 {
        font-size: 0.6rem;
        text-transform: capitalize;
        margin-bottom:0;
        margin-top:0;
        line-height: 0;
    }
    
    #footer h4 {
        font-size: 0.6rem;
        text-transform: capitalize;
        margin-bottom:1rem;
        margin-top:0;
        line-height: 0;
    }
        
    }
    