.main_container{
    margin-left:8vw;
    margin-right:8vw;
    margin-top:20vw;
}

.main_text{
    color: white;
}

.home_text_red{
    color:red;
    margin-top:6vh;
}

.home_text_big{
    margin-top:5vh;
    color:#4a4a67;
}

.filler_text{
    margin-top:5vh;
    color:white;
}

.home_text_small{
    margin-top:5vh;
    color:#4a4a67;
}

.home_button_1{
    margin-bottom:4vh;
}
