    .main_container{
    padding-left:8vw;
    padding-right:8vw;
    margin-top:25vw;

    background-color: #000000;
/* background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png"); */

}

.hi_text{
    color: white;
}

.main_text{
    color: white;
}

.home_text_red1, .home_text_red2{
    color:rgb(236, 65, 65);
    margin-top:4vh;
}

.home_text_big1, .home_text_big2{
    margin-top:5vh;
    color:#8888a2;
    margin-bottom:5vh;
}

.filler_text{
    margin-top:2vh;
    color:white;
}

.home_text_small{
    margin-top:4vh;
    color:#8888a2;
}

.home_button_1{
    margin-bottom:6vh;
}

.home_section_2{
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 1rem;
}

.top_image{
    display:none;
}


@media screen and (min-width: 750px){
    .main_container{
        padding-left:8vw; /**/
        margin-right:8vw; /**/
        margin-top:10vw;
    }
    .hi_text{
        font-size: 25rem;
        padding-top:8vh;
    }
    .main_text{
        margin-top:2vh;
        font-size: 10rem;
    }
    .home_text_red1{
        margin-top:44vh;
        margin-bottom:4vh;
        font-size: 15rem;
        text-align:right;
    }
    .home_text_red2{
        margin-top:16vh;
        margin-bottom:76vh;
        font-size: 15rem;
        text-align:center;
    }
    .home_text_big1{
        margin-top:3vh;
        margin-bottom:5vh;
        font-size: 5rem;
        text-align:right;
        width:60vw;
        margin-left:24vw;
    }
    .filler_text{
        margin-top:2vh;
        font-size: 10rem;
    }
    .interests_text{
        font-size:5rem;
        margin-bottom: 0;
    }
    .home_text_big2{
        margin-top:3vh;
        margin-bottom:0vh;
        font-size: 5rem;
        width:60vw;
    }
    .home_text_small{
        margin-top:4vh;
        color:#8888a2;
    }

    .home_button_1{
        margin-bottom:6vh;
    }

    .home_section_2{
        margin-top: 7vh;
        margin-bottom: 3vh;
         font-size: 1rem;
    }

    .top_image{
        position: absolute;
        height:100vh;
        width:100vw;
        left:0;
        top:0vh;
        display: block;
    }
}


