.main_container{
    margin-left:8vw;
    margin-right:8vw;
    margin-top:25vw;
}

.main_text{
    color: white;
}

.home_text_red{
    color:red;
    margin-top:4vh;
}

.home_text_big{
    margin-top:5vh;
    color:#8888a2;
    margin-bottom:5vh;
}

.filler_text{
    margin-top:2vh;
    color:white;
}

.home_text_small{
    margin-top:4vh;
    color:#8888a2;
}

.home_button_1{
    margin-bottom:6vh;
}

.home_section_2{
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 1rem;
}
