.sections{
  display:grid;
  grid-template-columns: 1fr;
  max-width:90vw;
  margin:10vh 5vw;
  margin-bottom:3rem;
}

.sections .heading{
  grid-row:1;
  text-align:center;
  margin-bottom:5rem;
}

.sections hr{
  width:100px;
  height:5px;
  background-color:#5B43EF;
  border:10px 10px #5B43EF;
  box-shadow:none;
}

.sections .section1{
  grid-row:2;
  display:grid;
}

.sections .section2{
  grid-row:3;
  display:grid;
}

.sections .section3{
  grid-row:4;
  display:grid;
}

.sections .section1 .text{
  grid-column:1;
  width:45vw;
}

.sections .section2 .text{
  grid-column:2;
  width:45vw;  
  text-align:right;
  margin:5vw;
}

.sections .section3 .text{
  grid-column:1;
  width:45vw;
}

.section_headings{
  font-size:2.5rem;
}

p{
  font-size:1.3rem;

}

.sections .section1 .img{
  grid-column:2;
  width:40vw;
  margin:auto;
}

.sections .section2 .img1{
  grid-column:1;
  width:40vw;
  margin:auto;
  display: unset;
}

.sections .section2 .img2{
  grid-column:1;
  width:40vw;
  margin:auto;
  display:none;
}

.sections .section3 .img{
  grid-column:2;
  width:40vw;
  margin:auto;
}

@media screen and (max-width: 750px){
  .sections{
    display:block;
    margin-bottom:2rem;
  }
  
.sections .heading{
  font-size:2rem;
  margin-bottom:0;
}

.sections h1{
  text-align:center;
  max-width:80vw;
  padding:0 2vw;
  font-size:2rem;
  margin:auto;
  margin-top:3rem;
  margin-bottom:0rem;
}

p{
  font-size:1rem;
}

.sections hr{
margin-bottom:4rem;
}
  .sections .section1, .sections .section2, .sections .section3{
    display:block;
  }

  .sections .section1 .text, .sections .section2 .text, .sections .section3 .text{
    width:90vw;
  }

  .section_headings{
    font-size:2rem;
    line-height:2.5rem;
  }
  .sections .section2 .text{  
    text-align:left;
    margin:0vw;
  }

  .sections .section2 .img1{
    grid-column:1;
    width:90vw;
    margin:auto;
    display: none;
  }
  
  .sections .section2 .img2{
    grid-column:1;
    width:90vw;
    margin:auto;
    display: unset;
  }

  .sections .section3 .img{
    grid-column:2;
    width:90vw;
    margin:auto;
  }

  .sections .section1 .img{
    grid-column:2;
    width:90vw;
    margin:auto;
  }
}

/* 

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');

.second-component{
  max-height:100vh;
}

.component{
  overflow:hidden;
}

.third-component{
  height:100vh;
  position:absolute;
  width:100vw;
}

.first_text{
  text-align:center;
  font-family: 'Press Start 2P', cursive;
}

.first_text .logo{
  width:10vw;
  margin-top:12vh;
}

.first_text p {
  font-size:1.2rem;
  font-weight:600;
  color:rgb(255, 255, 255);
}



  .section1 {
    grid-row: 1;
    text-align:center;
    width: 100vw;
    padding:30vh 15vw 0 10vw;
    height:100vh;
    color:#dfdfdf
  }

 .section1 h1 {
    font-size:2.5rem;
    color:rgb(223, 223, 223)
  }

.section1 p {
  font-size:1rem;
}


  .section2 {
    
    grid-row: 2;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align:left;
    max-width: 100vw;
    padding:20vh 5vw 20vh 5vw;
    background-color:#020223;
    height:100vh;
  }

  .section2 h1 {
    font-size:3rem;
    font-weight:500;
letter-spacing: 2px;
line-height: 3.5rem;
color:rgb(223, 223, 223)
  }

.section2 p {
  font-size:1.3rem;
  line-height: 2rem;
  color:rgb(223, 223, 223);
}

.slider{
  padding: 2vw;
  width:50vw;
}


  .text2 {
    grid-column: 1;
    width:50vw;
    height:auto;
  }

  .text2 h1{
    font-size:3rem;
    line-height: 3rem;
    font-weight:500;
    letter-spacing: 2px;
  }

  .text2 p{
    font-size:1.3rem;
    line-height: 2rem;
  }

  .button{
    background-color:purple;
    border:none;
    margin-top:3rem;
    color:white;
    padding:10px 20px;
    margin-left:2vw;
    border-radius:15px;
    font-size:1.3rem;
    position:relative;
  }


  .img2 {
    grid-column: 2;
    margin:auto;
  }



  .section3 {
    grid-row: 3;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align:right;
    max-width: 100vw;
    padding:20vh 5vw 0 5vw;
    height:100vh;
    visibility:none;

  }

  .section3 h1 {
    font-size:3rem;
    font-weight:500;
letter-spacing: 2px;
line-height: 3.5rem;
  }

.section3 p {
  font-size:1.3rem;
  line-height: 2rem;
}

  .text3 {
    grid-column: 1;
  }

  .img3 {
    grid-column: 2;
    margin:auto;
  } 
  .section4 {
    grid-row: 4;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align:left;
    max-width: 100vw;
    padding:20vh 5vw 0 5vw;
    background-color:#0c0c34;
    height:100vh;
    color:rgb(223, 223, 223);
    visibility:none;

  }

  .section4 h1 {
    font-size:3rem;
    font-weight:500;
letter-spacing: 2px;
line-height: 3.5rem;
color:rgb(108, 10, 10)
  }

.section4 p {
  font-size:1.3rem;
  line-height: 2rem;
}

  .text4 {
    grid-column: 1;
  }

  .img4 {
    grid-column: 2;
    margin:auto;
  }


@media screen and (max-width: 750px){
  .first_text .logo{
    width:40vw;
  }
  .third-component{
    height:50vh;
    position:absolute;
    margin-top:50vh;
    width:100%;
  }
  .section1 {
    padding:30vh 5vw 0 5vw;
    color:#dfdfdf;
  }
  .section1 h1 {
    font-size:1.5rem;
    line-height: 2rem;
  }

.section1 p {
  font-size:1rem;
  line-height: 1.5rem;
}

.slider{
  padding: 3vw;
  width:100vw;
  height:auto;
}

.text2 {
  width:100%;
  height:auto;
}

.text2 h1{
  font-size:1.5rem;
  line-height: 2rem;
}

.text2 p{
  font-size:1rem;
  line-height: 1.5rem;
}

.button{
  margin:10vw;
  padding:8px 20px;
  margin-left:3vw;
  border-radius:15px;
  font-size:1.2rem;
}
} */