.footer_line{
    border-bottom: 1px solid white;
    padding: 0;
    width:84vw;
    margin:0;
}

.footer_link{
    text-align: center;
    color:white;
    border: none;
    font-size:3vmin;
    text-align: center;
    margin-left: -7vw;
    margin-top:30vmin;
    padding-bottom:10vmin;
    position: absolute;
    width:100vw;
    font-family: "Playfair Display",sans-serif;
}

.footer{
    text-decoration: none;
    margin:0;
    margin-top:8vmin;
    margin-bottom: 5vmin;
    padding:0;
}

span{
    margin-top:30vw;
}

@media screen and (min-width: 992px){
    .footer_line{
        width:57vw;
    }
}