.footer_line{
    border-bottom: 1px solid white;
    padding: 0;
    width:84vw;
}

.footer_link{
    text-align: center;
    color:white;
    border: none;
}

.footer{
    text-decoration: none;
}

span{
    margin-top:30vw;
}

@media screen and (min-width: 750px){
    .footer_line{
        border-bottom: 5px solid white;
    }
    .footer_link{
        text-align: center;
        color:white;
        border: none;
        font-size: 5rem;
        width:90vw;
    }
}