@media screen and (max-width: 1440px){

    .mobile_navbar{
        width: 100vw;
        background-color: pink;
        height:20vh;
        position:sticky;
        margin:0;
        padding:0;
        left:0;
        top:0;
    }

}