.main_home_container{
    margin-top:10vw;
    z-index:0;
    min-width:100vw;
    max-width:100vw;
    overflow-x:hidden;
/* background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png"); */

}

.hey_text{
    color: white;
    font-size: 25rem;
    margin-top:20vh;
    margin-left:7vw;
    padding-left:5rem;
    line-height: 30rem;
    /* border-right: 4px solid white; */
    width:40vw;
}

.main_text{
    color: white;
}

.home_text_red1, .home_text_red2{
    color:rgb(236, 65, 65);
    margin-top:4vh;
}

.home_text_big1, .home_text_big2{
    margin-top:5vh;
    color:#8888a2;
    margin-bottom:5vh;
}

.filler_text{
    margin-top:2vh;
    color:white;
}

.home_text_small{
    margin-top:4vh;
    color:#8888a2;
}

.home_button_1{
    margin-bottom:6vh;
}

.home_section_2{
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 1rem;
}

.great_wave{
    position:absolute;
    left:50vw;
    top:20vh;
    height:80vh;
}


@media screen and (min-width: 750px){
    .main_text{
        margin-top:2vh;
        font-size: 10rem;
    }
    .home_text_red1{
        margin-top:44vh;
        margin-bottom:4vh;
        font-size: 15rem;
        text-align:right;
    }
    .home_text_red2{
        margin-top:16vh;
        margin-bottom:76vh;
        font-size: 15rem;
        text-align:center;
    }
    .home_text_big1{
        margin-top:3vh;
        margin-bottom:5vh;
        font-size: 5rem;
        text-align:right;
        width:60vw;
        margin-left:24vw;
    }
    .filler_text{
        margin-top:2vh;
        font-size: 10rem;
    }
    .interests_text{
        font-size:5rem;
        margin-bottom: 0;
    }
    .home_text_big2{
        margin-top:3vh;
        margin-bottom:0vh;
        font-size: 5rem;
        width:60vw;
    }
    .home_text_small{
        margin-top:4vh;
        color:#8888a2;
    }

    .home_button_1{
        margin-bottom:6vh;
    }

    .home_section_2{
        margin-top: 7vh;
        margin-bottom: 3vh;
         font-size: 1rem;
    }

    /* .top_image{
        position: absolute;
        width:40vw;
        left:50vw;
        top:20vh;
        display: block;
    } */
}


