html, body{
  margin:0;
  padding:0;
  background-color: black;
  color:white;
  font-size:4px;
  scroll-behavior: smooth;
  text-decoration: none !important;
  overflow:hidden;
}

canvas{
  outline:0;
}

/* Make scollbars invisible but keep functionality */

::-webkit-scrollbar {
  display:none;
}

@media screen and (max-width: 991px){
  html, body{
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden;
  }
}

/* @media screen and (max-width: 991px) and (orientation: landscape){
  html, body{
    display:none;
  }
} */