html, body{
  margin:0;
  padding:0;
  background-color:black;
  color:white;
  font-size:15px;
  overflow-x:hidden;
}

canvas{
  outline:0;
}

@media screen and (min-width: 750px){
  html, body{
    margin:0;
    padding:0;
    background-color:black;
    color:white;
    font-size:4px;
    overflow-x:hidden;
  }
}