


#about h1 {
    font-family: 'Dosis',sans-serif;
    padding-bottom:4rem;
    font-weight: 320;
    font-size:2rem;
}

#about {
    margin-top:6rem;
    text-align:center;
    display:grid;
    width:80%;
    margin: 0 auto;   
}


.team_page{
    background-color: #5B43EF;
    color:white;
}

#intro {
    margin:0 auto;
    width:100%;
    text-align:left;
}

#intro h1 {
    margin:3rem auto;
    width:80%;
    font-weight: 320;
}

#intro p {
    margin:5rem auto;
    font-family:'Dosis',sans-serif;
    font-size:1.1rem;
    width:75%;
    font-weight: 300;
    text-align: left;
}

#about h2 {
    margin-top:2rem;
    font-family:'Dosis',sans-serif;
    font-size:1.7rem;
    font-weight: 400;
}

#about h3 {
    margin-top:1rem;
    font-size:1rem;
    font-weight:300;
}

#about h4 {
    font-size:0.9rem;
    font-weight:50;
    width:80%;
    margin: 1rem auto;
    margin-bottom:6rem;
    letter-spacing: 1px;
    line-height:25px;
}

#about #row1 {
    margin:0 auto;
    display:grid;
}

#about #row2 {
    margin:0 auto;
    display:grid;
}

#about #row1 #contain1 {
    grid-row:2;
    grid-column:1;
    margin: 0 auto;
}

#about #row1 #contain1 .person1 {
    background:url("./img/claus.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    height:320px;
    width:320px;
    margin: 0 auto;
}

#about #row1 #contain2 {
    grid-row:2;
    grid-column:2;
    margin: 0 auto;
}

#about #row1 #contain2 .person2 {
    background:url("./img/adarsh.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    height:320px;
    width:320px;
    margin: 0 auto;
}

#about #row1 #contain3 {
    grid-row:2;
    grid-column:3;
    margin: 0 auto;
}

#about #row1 #contain3 .person3 {
    background:url("./img/shahul.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    height:320px;
    width:320px;
    margin: 0 auto;
}

#about #row2 #contain4 {
    grid-row:3;
    grid-column:1;
    margin: 0 auto;
}

#about #row2 #contain4 .person4 {
    background:url("./img/tino.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    height:320px;
    width:320px;
    margin: 0 auto;
}

#about #row2 #contain5 {
    grid-row:3;
    grid-column:2;
    margin: 0 auto;
}

#about #row2 #contain5 .person5 {
    background-repeat:no-repeat;
    background-size:contain;
    height:320px;
    width:320px;
    margin: 0 auto;
}

#about #row2 #contain6 {
    grid-row:3;
    grid-column:3;
    margin: 0 auto;
}

#about #row2 #contain6 .person6 {
    background:url("./img/ameen.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    height:320px;
    width:320px;
    margin: 0 auto;
}

@media screen and (max-width: 750px){

    #intro p{
        font-size:1rem;
        margin-bottom:3rem;
        margin-top:2rem;
        width:80%;
    }

    #about h1 {
        margin-bottom:4rem;
        font-weight: 200;
        font-size:2rem;
    }

    #about #row1 {
        display:block;
    }

    #about #row2 {
        display:block;
    }
    
    
    #about {
        margin-top:6rem;
        text-align:center;
        display:block;
        width:100%;
        margin: 0 auto;
        
    }
    
    #about h2 {
        margin-top:2rem;
        font-family:'Dosis',sans-serif;
        font-size:1.4rem;
        font-weight: 200;
    }
    
    #about h3 {
        margin-top:-1rem;
        font-size:1rem;
        font-weight:100;
    }

    #about h4 {
        font-size:0.9rem;
        font-weight:100;
        width:80%;
        margin: 1rem auto;
        margin-bottom:5rem;
        letter-spacing: 2px;
        line-height: 20px;
    }

    
    #about h1 {
        margin-bottom:3rem;
        grid-row:1;
        grid-column-start:none;
        grid-column-end:none;
        grid-column:1;
    }
    
    #about #contain1 {
    
        margin: 0 auto;
    }
    
    #about #contain1 .person1 {
        height:350px;
        width:350px;
    }
    
    
    #about div {
        margin: 0 auto;
    }
    
    #about #contain2 {
        width:100%;
    }
    
    #about .row2 #contain2 .person2 {
        height:350px;
        width:350px;    }
    
    #about .row2 #contain3 {
        grid-row:4;
        grid-column:1;
        width:100%;
    }
    
    #about .row2 #contain3 .person3 {
        height:350px;
        width:350px;    
    }
    
    #about .row2 #contain4 {
        grid-row:5;
        grid-column:1;
        width:100%;
    }
    
    #about .row2 #contain4 .person4 {
        height:300px;
    
    }
    
    #about .row3 {
        display:block;
        grid-row:none;
        margin: 0 auto;
        grid-column-start:none;
        grid-column-end:none;
        width:none;
        grid-column:1;

    }
    
    #about .row3 div {
        width:none;
        margin: 0 auto;
    }
    
    #about .row3 #contain5 {
        grid-row:6;
        grid-column:1;
        width:100%;
    
    }
    
    #about .row3 #contain5 .person5 {
        height:300px;
    
    }
    
    #about .row3 #contain6 {
        grid-row:7;
        grid-column:1;
        width:100%;
    
    }
    
    #about .row3 #contain6 .person6 {
        height:300px;
    
    }
    
    
}